*~
*.[ao]
*.l[ao]
*bak
.libs
.deps
.dirstamp
Makefile.in
Makefile
/po/Makefile.in.in
/po/*.gmo
/help/*.omf
/help/*/.xml2po.mo
/help/[a-z]*/ekiga.xml

aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
m4/

Doxyfile
Session.vim
depcomp
ekiga.desktop
ekiga.desktop.in
ekiga.schemas
ekiga.schemas.in
org.gnome.ekiga.gschema.valid
org.gnome.ekiga.gschema.xml
org.gnome.ekiga.gschema.xml.in
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/hal-marshal.c
lib/hal-marshal.h
libtool
ltmain.sh
missing
mkinstalldirs
pixmaps/inlines.h
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/build-subdir-stamp
src/dbus-helper/dbus-helper-stub.h
src/dbus-helper/dbus-stub.h
src/dbus-helper/org.ekiga.Ekiga.service
src/dbus-helper/org.ekiga.Helper.service
src/ekiga
src/ekiga-config-tool
src/ekiga-helper
src/revision.h
lib/engine/components/hal-dbus/hal-marshal.*
stamp-h1
help/*/*.mo

lib/gmmarshallers.c
lib/gmmarshallers.h

win32/bin/
win32/binaries
win32/boost_*/
win32/celt-*/
win32/cyrus-sasl-*/
win32/dist/
win32/ekiga*/
win32/etc/
win32/expat-*/
win32/include/
win32/lib/
win32/libav-*/
win32/libogg-*/
win32/libtheora-*/
win32/libxml2-*/
win32/manifest/
win32/nsisplugins/
win32/opal*/
win32/openldap-*/
win32/ptlib*/
win32/regex/
win32/share/
win32/speex-1.2rc1/
win32/src/
win32/x264/
