*~
*.[ao]
*.l[ao]
*bak
.libs
.deps
Makefile.in
Makefile
/po/Makefile.in.in
/po/*.gmo
/help/*.omf
/help/*/.xml2po.mo
/help/*/ekiga.xml

aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
m4/

Doxyfile
Session.vim
depcomp
ekiga.desktop
ekiga.desktop.in
ekiga.schemas
ekiga.schemas.in
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/hal-marshal.c
lib/hal-marshal.h
libtool
ltmain.sh
missing
mkinstalldirs
pixmaps/inlines.h
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/build-subdir-stamp
src/ekiga
src/ekiga-config-tool
src/ekiga-helper
src/revision.h
stamp-h1
help/*/*.mo

lib/gmmarshallers.c
lib/gmmarshallers.h
