Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
ekiga.desktop
ekiga.desktop.in
ekiga.schemas
ekiga.schemas.in
gnome-doc-utils.make
help/Makefile
help/Makefile.in
help/bg/.xml2po.mo
help/bg/ekiga.xml
help/ca/.xml2po.mo
help/ca/ekiga.xml
help/de/.xml2po.mo
help/de/ekiga.xml
help/ekiga-C.omf
help/ekiga-bg.omf
help/ekiga-ca.omf
help/ekiga-de.omf
help/ekiga-el.omf
help/ekiga-en_GB.omf
help/ekiga-es.omf
help/ekiga-eu.omf
help/ekiga-fi.omf
help/ekiga-fr.omf
help/ekiga-oc.omf
help/ekiga-pt_BR.omf
help/ekiga-ru.omf
help/ekiga-sv.omf
help/ekiga-uk.omf
help/el/.xml2po.mo
help/el/ekiga.xml
help/en_GB/.xml2po.mo
help/en_GB/ekiga.xml
help/es/.xml2po.mo
help/es/ekiga.xml
help/eu/.xml2po.mo
help/eu/ekiga.xml
help/fi/.xml2po.mo
help/fi/ekiga.xml
help/fr/.xml2po.mo
help/fr/ekiga.xml
help/oc/.xml2po.mo
help/oc/ekiga.xml
help/pt_BR/.xml2po.mo
help/pt_BR/ekiga.xml
help/ru/.xml2po.mo
help/ru/ekiga.xml
help/sv/.xml2po.mo
help/sv/ekiga.xml
help/uk/.xml2po.mo
help/uk/ekiga.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/engine/.deps/
lib/engine/.libs/
lib/engine/Makefile
lib/engine/Makefile.in
lib/engine/account/.deps/
lib/engine/account/.libs/
lib/engine/account/Makefile
lib/engine/account/Makefile.in
lib/engine/account/account-core.lo
lib/engine/account/account-core.o
lib/engine/account/libaccount.la
lib/engine/addressbook/.deps/
lib/engine/addressbook/.libs/
lib/engine/addressbook/Makefile
lib/engine/addressbook/Makefile.in
lib/engine/addressbook/contact-core.lo
lib/engine/addressbook/contact-core.o
lib/engine/addressbook/libgmaddressbook.la
lib/engine/audioinput/.deps/
lib/engine/audioinput/.libs/
lib/engine/audioinput/Makefile
lib/engine/audioinput/Makefile.in
lib/engine/audioinput/audioinput-core.lo
lib/engine/audioinput/audioinput-core.o
lib/engine/audioinput/audioinput-gmconf-bridge.lo
lib/engine/audioinput/audioinput-gmconf-bridge.o
lib/engine/audioinput/libgmaudioinput.la
lib/engine/audiooutput/.deps/
lib/engine/audiooutput/.libs/
lib/engine/audiooutput/Makefile
lib/engine/audiooutput/Makefile.in
lib/engine/audiooutput/audiooutput-core.lo
lib/engine/audiooutput/audiooutput-core.o
lib/engine/audiooutput/audiooutput-gmconf-bridge.lo
lib/engine/audiooutput/audiooutput-gmconf-bridge.o
lib/engine/audiooutput/audiooutput-scheduler.lo
lib/engine/audiooutput/audiooutput-scheduler.o
lib/engine/audiooutput/libgmaudiooutput.la
lib/engine/chat/.deps/
lib/engine/chat/.libs/
lib/engine/chat/Makefile
lib/engine/chat/Makefile.in
lib/engine/chat/chat-core.lo
lib/engine/chat/chat-core.o
lib/engine/chat/libgmchat.la
lib/engine/components/Makefile
lib/engine/components/Makefile.in
lib/engine/components/avahi-publisher/.deps/
lib/engine/components/avahi-publisher/.libs/
lib/engine/components/avahi-publisher/Makefile
lib/engine/components/avahi-publisher/Makefile.in
lib/engine/components/avahi-publisher/avahi-publisher-main.lo
lib/engine/components/avahi-publisher/avahi-publisher-main.o
lib/engine/components/avahi-publisher/avahi-publisher.lo
lib/engine/components/avahi-publisher/avahi-publisher.o
lib/engine/components/avahi-publisher/libavahipublisher.la
lib/engine/components/avahi/.deps/
lib/engine/components/avahi/.libs/
lib/engine/components/avahi/Makefile
lib/engine/components/avahi/Makefile.in
lib/engine/components/avahi/avahi-cluster.lo
lib/engine/components/avahi/avahi-cluster.o
lib/engine/components/avahi/avahi-heap.lo
lib/engine/components/avahi/avahi-heap.o
lib/engine/components/avahi/avahi-main.lo
lib/engine/components/avahi/avahi-main.o
lib/engine/components/avahi/libgmavahi.la
lib/engine/components/call-history/.deps/
lib/engine/components/call-history/.libs/
lib/engine/components/call-history/Makefile
lib/engine/components/call-history/Makefile.in
lib/engine/components/call-history/history-book.lo
lib/engine/components/call-history/history-book.o
lib/engine/components/call-history/history-contact.lo
lib/engine/components/call-history/history-contact.o
lib/engine/components/call-history/history-main.lo
lib/engine/components/call-history/history-main.o
lib/engine/components/call-history/history-source.lo
lib/engine/components/call-history/history-source.o
lib/engine/components/call-history/libcall-history.la
lib/engine/components/dx-videooutput/.deps/
lib/engine/components/dx-videooutput/Makefile
lib/engine/components/dx-videooutput/Makefile.in
lib/engine/components/echo/.deps/
lib/engine/components/echo/.libs/
lib/engine/components/echo/Makefile
lib/engine/components/echo/Makefile.in
lib/engine/components/echo/echo-dialect.lo
lib/engine/components/echo/echo-dialect.o
lib/engine/components/echo/echo-main.lo
lib/engine/components/echo/echo-main.o
lib/engine/components/echo/echo-presentity.lo
lib/engine/components/echo/echo-presentity.o
lib/engine/components/echo/echo-simple.lo
lib/engine/components/echo/echo-simple.o
lib/engine/components/echo/libgmechochat.la
lib/engine/components/evolution/.deps/
lib/engine/components/evolution/.libs/
lib/engine/components/evolution/Makefile
lib/engine/components/evolution/Makefile.in
lib/engine/components/evolution/evolution-book.lo
lib/engine/components/evolution/evolution-book.o
lib/engine/components/evolution/evolution-contact.lo
lib/engine/components/evolution/evolution-contact.o
lib/engine/components/evolution/evolution-main.lo
lib/engine/components/evolution/evolution-main.o
lib/engine/components/evolution/evolution-source.lo
lib/engine/components/evolution/evolution-source.o
lib/engine/components/evolution/libgmevolution.la
lib/engine/components/gmconf-personal-details/.deps/
lib/engine/components/gmconf-personal-details/.libs/
lib/engine/components/gmconf-personal-details/Makefile
lib/engine/components/gmconf-personal-details/Makefile.in
lib/engine/components/gmconf-personal-details/gmconf-personal-details-main.lo
lib/engine/components/gmconf-personal-details/gmconf-personal-details-main.o
lib/engine/components/gmconf-personal-details/gmconf-personal-details.lo
lib/engine/components/gmconf-personal-details/gmconf-personal-details.o
lib/engine/components/gmconf-personal-details/libgmconfpersonaldetails.la
lib/engine/components/gnome-session/.deps/
lib/engine/components/gnome-session/Makefile
lib/engine/components/gnome-session/Makefile.in
lib/engine/components/gstreamer/.deps/
lib/engine/components/gstreamer/Makefile
lib/engine/components/gstreamer/Makefile.in
lib/engine/components/hal-dbus/.deps/
lib/engine/components/hal-dbus/.libs/
lib/engine/components/hal-dbus/Makefile
lib/engine/components/hal-dbus/Makefile.in
lib/engine/components/hal-dbus/hal-main-dbus.lo
lib/engine/components/hal-dbus/hal-main-dbus.o
lib/engine/components/hal-dbus/hal-manager-dbus.lo
lib/engine/components/hal-dbus/hal-manager-dbus.o
lib/engine/components/hal-dbus/hal-marshal.c
lib/engine/components/hal-dbus/hal-marshal.h
lib/engine/components/hal-dbus/hal-marshal.lo
lib/engine/components/hal-dbus/hal-marshal.o
lib/engine/components/hal-dbus/hal-v4l-helper.lo
lib/engine/components/hal-dbus/hal-v4l-helper.o
lib/engine/components/hal-dbus/libgmhal-dbus.la
lib/engine/components/kab/.deps/
lib/engine/components/kab/Makefile
lib/engine/components/kab/Makefile.in
lib/engine/components/kde/.deps/
lib/engine/components/kde/Makefile
lib/engine/components/kde/Makefile.in
lib/engine/components/ldap/.deps/
lib/engine/components/ldap/.libs/
lib/engine/components/ldap/Makefile
lib/engine/components/ldap/Makefile.in
lib/engine/components/ldap/ldap-book.lo
lib/engine/components/ldap/ldap-book.o
lib/engine/components/ldap/ldap-contact.lo
lib/engine/components/ldap/ldap-contact.o
lib/engine/components/ldap/ldap-main.lo
lib/engine/components/ldap/ldap-main.o
lib/engine/components/ldap/ldap-source.lo
lib/engine/components/ldap/ldap-source.o
lib/engine/components/ldap/libgmldap.la
lib/engine/components/libnotify/.deps/
lib/engine/components/libnotify/.libs/
lib/engine/components/libnotify/Makefile
lib/engine/components/libnotify/Makefile.in
lib/engine/components/libnotify/libgmlibnotify.la
lib/engine/components/libnotify/libnotify-main.lo
lib/engine/components/libnotify/libnotify-main.o
lib/engine/components/local-roster/.deps/
lib/engine/components/local-roster/.libs/
lib/engine/components/local-roster/Makefile
lib/engine/components/local-roster/Makefile.in
lib/engine/components/local-roster/liblocal-roster.la
lib/engine/components/local-roster/local-cluster.lo
lib/engine/components/local-roster/local-cluster.o
lib/engine/components/local-roster/local-heap.lo
lib/engine/components/local-roster/local-heap.o
lib/engine/components/local-roster/local-presentity.lo
lib/engine/components/local-roster/local-presentity.o
lib/engine/components/local-roster/local-roster-bridge.lo
lib/engine/components/local-roster/local-roster-bridge.o
lib/engine/components/local-roster/local-roster-main.lo
lib/engine/components/local-roster/local-roster-main.o
lib/engine/components/mlogo-videoinput/.deps/
lib/engine/components/mlogo-videoinput/.libs/
lib/engine/components/mlogo-videoinput/Makefile
lib/engine/components/mlogo-videoinput/Makefile.in
lib/engine/components/mlogo-videoinput/libgmvideoinput-mlogo.la
lib/engine/components/mlogo-videoinput/videoinput-main-mlogo.lo
lib/engine/components/mlogo-videoinput/videoinput-main-mlogo.o
lib/engine/components/mlogo-videoinput/videoinput-manager-mlogo.lo
lib/engine/components/mlogo-videoinput/videoinput-manager-mlogo.o
lib/engine/components/null-audioinput/.deps/
lib/engine/components/null-audioinput/.libs/
lib/engine/components/null-audioinput/Makefile
lib/engine/components/null-audioinput/Makefile.in
lib/engine/components/null-audioinput/audioinput-main-null.lo
lib/engine/components/null-audioinput/audioinput-main-null.o
lib/engine/components/null-audioinput/audioinput-manager-null.lo
lib/engine/components/null-audioinput/audioinput-manager-null.o
lib/engine/components/null-audioinput/libgmaudioinput-null.la
lib/engine/components/null-audiooutput/.deps/
lib/engine/components/null-audiooutput/.libs/
lib/engine/components/null-audiooutput/Makefile
lib/engine/components/null-audiooutput/Makefile.in
lib/engine/components/null-audiooutput/audiooutput-main-null.lo
lib/engine/components/null-audiooutput/audiooutput-main-null.o
lib/engine/components/null-audiooutput/audiooutput-manager-null.lo
lib/engine/components/null-audiooutput/audiooutput-manager-null.o
lib/engine/components/null-audiooutput/libgmaudiooutput-null.la
lib/engine/components/opal/.deps/
lib/engine/components/opal/.libs/
lib/engine/components/opal/Makefile
lib/engine/components/opal/Makefile.in
lib/engine/components/opal/h323-endpoint.loT
lib/engine/components/opal/libgmopal.la
lib/engine/components/opal/opal-account.lo
lib/engine/components/opal/opal-account.o
lib/engine/components/opal/opal-audio.lo
lib/engine/components/opal/opal-audio.o
lib/engine/components/opal/opal-bank.lo
lib/engine/components/opal/opal-bank.o
lib/engine/components/opal/opal-call-manager.lo
lib/engine/components/opal/opal-call-manager.o
lib/engine/components/opal/opal-call.lo
lib/engine/components/opal/opal-call.o
lib/engine/components/opal/opal-codec-description.lo
lib/engine/components/opal/opal-codec-description.o
lib/engine/components/opal/opal-gmconf-bridge.lo
lib/engine/components/opal/opal-gmconf-bridge.o
lib/engine/components/opal/opal-main.lo
lib/engine/components/opal/opal-main.o
lib/engine/components/opal/opal-videoinput.lo
lib/engine/components/opal/opal-videoinput.o
lib/engine/components/opal/opal-videooutput.lo
lib/engine/components/opal/opal-videooutput.o
lib/engine/components/opal/pcss-endpoint.lo
lib/engine/components/opal/pcss-endpoint.o
lib/engine/components/opal/sip-chat-simple.lo
lib/engine/components/opal/sip-chat-simple.o
lib/engine/components/opal/sip-dialect.lo
lib/engine/components/opal/sip-dialect.o
lib/engine/components/opal/sip-endpoint.lo
lib/engine/components/opal/sip-endpoint.o
lib/engine/components/ptlib/.deps/
lib/engine/components/ptlib/.libs/
lib/engine/components/ptlib/Makefile
lib/engine/components/ptlib/Makefile.in
lib/engine/components/ptlib/audioinput-main-ptlib.lo
lib/engine/components/ptlib/audioinput-main-ptlib.o
lib/engine/components/ptlib/audioinput-manager-ptlib.lo
lib/engine/components/ptlib/audioinput-manager-ptlib.o
lib/engine/components/ptlib/audiooutput-main-ptlib.lo
lib/engine/components/ptlib/audiooutput-main-ptlib.o
lib/engine/components/ptlib/audiooutput-manager-ptlib.lo
lib/engine/components/ptlib/audiooutput-manager-ptlib.o
lib/engine/components/ptlib/libgmptlib.la
lib/engine/components/ptlib/utils.lo
lib/engine/components/ptlib/utils.o
lib/engine/components/ptlib/videoinput-main-ptlib.lo
lib/engine/components/ptlib/videoinput-main-ptlib.o
lib/engine/components/ptlib/videoinput-manager-ptlib.lo
lib/engine/components/ptlib/videoinput-manager-ptlib.o
lib/engine/components/resource-list/.deps/
lib/engine/components/resource-list/Makefile
lib/engine/components/resource-list/Makefile.in
lib/engine/components/x-videooutput/.deps/
lib/engine/components/x-videooutput/.libs/
lib/engine/components/x-videooutput/Makefile
lib/engine/components/x-videooutput/Makefile.in
lib/engine/components/x-videooutput/libgmvideooutput-x.la
lib/engine/components/x-videooutput/videooutput-main-x.lo
lib/engine/components/x-videooutput/videooutput-main-x.o
lib/engine/components/x-videooutput/videooutput-manager-common.lo
lib/engine/components/x-videooutput/videooutput-manager-common.o
lib/engine/components/x-videooutput/videooutput-manager-x.lo
lib/engine/components/x-videooutput/videooutput-manager-x.o
lib/engine/components/xcap/.deps/
lib/engine/components/xcap/Makefile
lib/engine/components/xcap/Makefile.in
lib/engine/engine.lo
lib/engine/engine.o
lib/engine/framework/.deps/
lib/engine/framework/.libs/
lib/engine/framework/Makefile
lib/engine/framework/Makefile.in
lib/engine/framework/form-builder.lo
lib/engine/framework/form-builder.o
lib/engine/framework/form-dumper.lo
lib/engine/framework/form-dumper.o
lib/engine/framework/form-request-simple.lo
lib/engine/framework/form-request-simple.o
lib/engine/framework/form.lo
lib/engine/framework/form.o
lib/engine/framework/gmconf-bridge.lo
lib/engine/framework/gmconf-bridge.o
lib/engine/framework/kickstart.lo
lib/engine/framework/kickstart.o
lib/engine/framework/libgmframework.la
lib/engine/framework/menu-builder-tools.lo
lib/engine/framework/menu-builder-tools.o
lib/engine/framework/menu-builder.lo
lib/engine/framework/menu-builder.o
lib/engine/framework/menu-xml.lo
lib/engine/framework/menu-xml.o
lib/engine/framework/robust-xml.lo
lib/engine/framework/robust-xml.o
lib/engine/framework/runtime-glib.lo
lib/engine/framework/runtime-glib.o
lib/engine/framework/services.lo
lib/engine/framework/services.o
lib/engine/gui/Makefile
lib/engine/gui/Makefile.in
lib/engine/gui/gtk-core/.deps/
lib/engine/gui/gtk-core/.libs/
lib/engine/gui/gtk-core/Makefile
lib/engine/gui/gtk-core/Makefile.in
lib/engine/gui/gtk-core/form-dialog-gtk.lo
lib/engine/gui/gtk-core/form-dialog-gtk.o
lib/engine/gui/gtk-core/gtk-core-main.lo
lib/engine/gui/gtk-core/gtk-core-main.o
lib/engine/gui/gtk-core/gtk-core.lo
lib/engine/gui/gtk-core/gtk-core.o
lib/engine/gui/gtk-core/libgmgtk-core.la
lib/engine/gui/gtk-core/menu-builder-gtk.lo
lib/engine/gui/gtk-core/menu-builder-gtk.o
lib/engine/gui/gtk-core/toolbar-builder-gtk.lo
lib/engine/gui/gtk-core/toolbar-builder-gtk.o
lib/engine/gui/gtk-frontend/.deps/
lib/engine/gui/gtk-frontend/.libs/
lib/engine/gui/gtk-frontend/Makefile
lib/engine/gui/gtk-frontend/Makefile.in
lib/engine/gui/gtk-frontend/addressbook-window.lo
lib/engine/gui/gtk-frontend/addressbook-window.o
lib/engine/gui/gtk-frontend/book-view-gtk.lo
lib/engine/gui/gtk-frontend/book-view-gtk.o
lib/engine/gui/gtk-frontend/call-history-view-gtk.lo
lib/engine/gui/gtk-frontend/call-history-view-gtk.o
lib/engine/gui/gtk-frontend/chat-area.lo
lib/engine/gui/gtk-frontend/chat-area.o
lib/engine/gui/gtk-frontend/chat-window.lo
lib/engine/gui/gtk-frontend/chat-window.o
lib/engine/gui/gtk-frontend/gtk-frontend.lo
lib/engine/gui/gtk-frontend/gtk-frontend.o
lib/engine/gui/gtk-frontend/libgmgtk-frontend.la
lib/engine/gui/gtk-frontend/multiple-chat-page.lo
lib/engine/gui/gtk-frontend/multiple-chat-page.o
lib/engine/gui/gtk-frontend/presentity-view.lo
lib/engine/gui/gtk-frontend/presentity-view.o
lib/engine/gui/gtk-frontend/roster-view-gtk.lo
lib/engine/gui/gtk-frontend/roster-view-gtk.o
lib/engine/gui/gtk-frontend/simple-chat-page.lo
lib/engine/gui/gtk-frontend/simple-chat-page.o
lib/engine/hal/.deps/
lib/engine/hal/.libs/
lib/engine/hal/Makefile
lib/engine/hal/Makefile.in
lib/engine/hal/hal-core.lo
lib/engine/hal/hal-core.o
lib/engine/hal/libgmhal.la
lib/engine/libekiga_engine.la
lib/engine/notification/.deps/
lib/engine/notification/.libs/
lib/engine/notification/Makefile
lib/engine/notification/Makefile.in
lib/engine/notification/libnotification.la
lib/engine/notification/notification-dummy.lo
lib/engine/notification/notification-dummy.o
lib/engine/plugin/.deps/
lib/engine/plugin/.libs/
lib/engine/plugin/Makefile
lib/engine/plugin/Makefile.in
lib/engine/plugin/libplugin.la
lib/engine/plugin/plugin-core.lo
lib/engine/plugin/plugin-core.o
lib/engine/presence/.deps/
lib/engine/presence/.libs/
lib/engine/presence/Makefile
lib/engine/presence/Makefile.in
lib/engine/presence/libgmpresence.la
lib/engine/presence/presence-core.lo
lib/engine/presence/presence-core.o
lib/engine/presence/proxy-presentity.lo
lib/engine/presence/proxy-presentity.o
lib/engine/presence/uri-presentity.lo
lib/engine/presence/uri-presentity.o
lib/engine/protocol/.deps/
lib/engine/protocol/.libs/
lib/engine/protocol/Makefile
lib/engine/protocol/Makefile.in
lib/engine/protocol/call-core.lo
lib/engine/protocol/call-core.o
lib/engine/protocol/call-manager.lo
lib/engine/protocol/call-manager.o
lib/engine/protocol/codec-description.lo
lib/engine/protocol/codec-description.o
lib/engine/protocol/libgmprotocol.la
lib/engine/videoinput/.deps/
lib/engine/videoinput/.libs/
lib/engine/videoinput/Makefile
lib/engine/videoinput/Makefile.in
lib/engine/videoinput/libgmvideoinput.la
lib/engine/videoinput/videoinput-core.lo
lib/engine/videoinput/videoinput-core.o
lib/engine/videoinput/videoinput-gmconf-bridge.lo
lib/engine/videoinput/videoinput-gmconf-bridge.o
lib/engine/videooutput/.deps/
lib/engine/videooutput/.libs/
lib/engine/videooutput/Makefile
lib/engine/videooutput/Makefile.in
lib/engine/videooutput/libgmvideooutput.la
lib/engine/videooutput/videooutput-core.lo
lib/engine/videooutput/videooutput-core.o
lib/engine/videooutput/videooutput-gmconf-bridge.lo
lib/engine/videooutput/videooutput-gmconf-bridge.o
lib/gmconf/.deps/
lib/gmconf/.libs/
lib/gmconf/Makefile
lib/gmconf/Makefile.in
lib/gmconf/gmconf-gconf.lo
lib/gmconf/gmconf-gconf.o
lib/gmconf/libgmconf.la
lib/gmmarshallers.lo
lib/gmmarshallers.o
lib/gui/.deps/
lib/gui/.libs/
lib/gui/Makefile
lib/gui/Makefile.in
lib/gui/codecsbox.lo
lib/gui/codecsbox.o
lib/gui/gm-cell-renderer-bitext.lo
lib/gui/gm-cell-renderer-bitext.o
lib/gui/gm-smiley-chooser-button.lo
lib/gui/gm-smiley-chooser-button.o
lib/gui/gm-smileys.lo
lib/gui/gm-smileys.o
lib/gui/gm-text-anchored-tag.lo
lib/gui/gm-text-anchored-tag.o
lib/gui/gm-text-buffer-enhancer-helper-iface.lo
lib/gui/gm-text-buffer-enhancer-helper-iface.o
lib/gui/gm-text-buffer-enhancer.lo
lib/gui/gm-text-buffer-enhancer.o
lib/gui/gm-text-extlink.lo
lib/gui/gm-text-extlink.o
lib/gui/gm-text-smiley.lo
lib/gui/gm-text-smiley.o
lib/gui/gmcellrendererexpander.lo
lib/gui/gmcellrendererexpander.o
lib/gui/gmconfwidgets.lo
lib/gui/gmconfwidgets.o
lib/gui/gmconnectbutton.lo
lib/gui/gmconnectbutton.o
lib/gui/gmdialog.lo
lib/gui/gmdialog.o
lib/gui/gmentrydialog.lo
lib/gui/gmentrydialog.o
lib/gui/gmlevelmeter.lo
lib/gui/gmlevelmeter.o
lib/gui/gmmenuaddon.lo
lib/gui/gmmenuaddon.o
lib/gui/gmpowermeter.lo
lib/gui/gmpowermeter.o
lib/gui/gmpreferences.lo
lib/gui/gmpreferences.o
lib/gui/gmstatusbar.lo
lib/gui/gmstatusbar.o
lib/gui/gmstockicons.lo
lib/gui/gmstockicons.o
lib/gui/gmwindow.lo
lib/gui/gmwindow.o
lib/gui/libgmwidgets.la
lib/gui/xvwindow.lo
lib/gui/xvwindow.o
lib/gui/xwindow.lo
lib/gui/xwindow.o
lib/libekiga.la
lib/pixops/.deps/
lib/pixops/.libs/
lib/pixops/Makefile
lib/pixops/Makefile.in
lib/pixops/composite_line_22_4a4_mmx.lo
lib/pixops/composite_line_22_4a4_mmx.o
lib/pixops/composite_line_color_22_4a4_mmx.lo
lib/pixops/composite_line_color_22_4a4_mmx.o
lib/pixops/have_mmx.lo
lib/pixops/have_mmx.o
lib/pixops/libpixops.la
lib/pixops/pixops.lo
lib/pixops/pixops.o
lib/pixops/scale_line_22_33_mmx.lo
lib/pixops/scale_line_22_33_mmx.o
lib/pixops/timescale
lib/pixops/timescale.o
lib/platform/.deps/
lib/platform/.libs/
lib/platform/Makefile
lib/platform/Makefile.in
lib/platform/libgmplatform.la
lib/platform/platform-generic.lo
lib/platform/platform-generic.o
lib/toolbox/.deps/
lib/toolbox/.libs/
lib/toolbox/Makefile
lib/toolbox/Makefile.in
lib/toolbox/libtoolbox.la
lib/toolbox/toolbox-common.lo
lib/toolbox/toolbox-common.o
lib/toolbox/toolbox-gtk.lo
lib/toolbox/toolbox-gtk.o
lib/toolbox/toolbox-internal.lo
lib/toolbox/toolbox-internal.o
libtool
ltmain.sh
man/Makefile
man/Makefile.in
missing
mkinstalldirs
pixmaps/Makefile
pixmaps/Makefile.in
pixmaps/inlines.h
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/am.gmo
po/ar.gmo
po/as.gmo
po/az.gmo
po/be.gmo
po/bg.gmo
po/bn.gmo
po/bn_IN.gmo
po/bs.gmo
po/ca.gmo
po/crh.gmo
po/cs.gmo
po/cy.gmo
po/da.gmo
po/de.gmo
po/dz.gmo
po/el.gmo
po/en_CA.gmo
po/en_GB.gmo
po/eo.gmo
po/es.gmo
po/et.gmo
po/eu.gmo
po/fa.gmo
po/fi.gmo
po/fr.gmo
po/ga.gmo
po/gl.gmo
po/gu.gmo
po/he.gmo
po/hi.gmo
po/hr.gmo
po/hu.gmo
po/id.gmo
po/is.gmo
po/it.gmo
po/ja.gmo
po/ka.gmo
po/kn.gmo
po/ko.gmo
po/ku.gmo
po/lt.gmo
po/lv.gmo
po/mai.gmo
po/mk.gmo
po/ml.gmo
po/mn.gmo
po/mr.gmo
po/ms.gmo
po/nb.gmo
po/ne.gmo
po/nl.gmo
po/nn.gmo
po/oc.gmo
po/or.gmo
po/pa.gmo
po/pl.gmo
po/pt.gmo
po/pt_BR.gmo
po/ro.gmo
po/ru.gmo
po/rw.gmo
po/si.gmo
po/sk.gmo
po/sl.gmo
po/sq.gmo
po/sr.gmo
po/sr@latin.gmo
po/stamp-it
po/sv.gmo
po/ta.gmo
po/te.gmo
po/th.gmo
po/tr.gmo
po/uk.gmo
po/vi.gmo
po/wa.gmo
po/xh.gmo
po/zh_CN.gmo
po/zh_HK.gmo
po/zh_TW.gmo
sounds/Makefile
sounds/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/accounts.o
src/assistant.o
src/build-subdir-stamp
src/callbacks.o
src/conf.o
src/dbus-helper.o
src/dbus-helper/dbus-helper-stub.h
src/dbus-helper/dbus-stub.h
src/dbus-helper/org.ekiga.Ekiga.service
src/dbus-helper/org.ekiga.Helper.service
src/dbus.o
src/dialpad.o
src/ekiga
src/ekiga-config-tool
src/ekiga-helper
src/ekiga.o
src/main.o
src/misc.o
src/preferences.o
src/revision.h
src/statusicon.o
src/statusmenu.o
stamp-h1

