[Desktop Entry]
Name=GnomeMeeting
Comment=H323 Client
TryExec=gnomemeeting
Exec=gnomemeeting
Icon=gnomemeeting-logo-icon.png
Terminal=0
Type=Application
