[Desktop Entry]
Name=GnomeMeeting
Name[sv]=GnomeMeeting
Comment=H.323 Client
Comment[sv]=H.323-klient
TryExec=gnomemeeting
Exec=gnomemeeting
Icon=gnomemeeting-logo-icon.png
Terminal=0
Type=Application
