[Desktop Entry]
Name=GnomeMeeting
Name[gl]=GnomeMeeting
Name[it]=GnomeMeeting
Name[sv]=GnomeMeeting
Comment=H.323 Client
Comment[gl]=Cliente H.323
Comment[it]=Client H.323
Comment[sv]=H.323-klient
TryExec=gnomemeeting
Exec=gnomemeeting
Icon=gnomemeeting-logo-icon.png
Terminal=0
Type=Application
